

	/* COLORS */
	.bg-blue{background-color: #0052A2;}
	.blue{color: #0052A2;}

	#logo{
		width: 70%;
		height: 120px;
		margin: 10px 0px;

		background-image: url('../files/img/logo.png');
		background-size: 100% auto;
		background-position: center;
		background-repeat: no-repeat;
	}



	#open-login{ font-size: 18px; color: #fff; font-family: 'arial' }
	#icon-facebook{ width: 30px; height: 30px; background-image:url('../files/img/face.png'); margin: 5px; background-repeat: no-repeat; background-position: center;}
	#icon-google{ width: 30px; height: 30px; background-image:url('../files/img/google.png'); margin: 5px; background-repeat: no-repeat; background-position: center;}